@font-face {
    font-family: 'robotoregular';
    src: url('/font/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('/font/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/roboto_regular_macroman/Roboto-Regular-webfont.woff2') format('woff2'),
         url('/font/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('/font/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('/font/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body
{
    background: url('images/fond_jaune.png');
}

#banniere
{
    background: url('images/sanfrancisco.jpg');
}
#bloc_page
{
    width: 900px;
}