@font-face {
    font-family: 'roboto';
    src: url('/font/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('/font/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/roboto_regular_macroman/Roboto-Regular-webfont.woff2') format('woff2'),
         url('/font/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('/font/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('/font/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body
{
    background: url('images/fond_jaune.png');
    font-family: Trebuchet MS, Arial, sans-serif;
}

#banniere
{
    border-radius: 5px;
    background: url('images/sanfrancisco.jpg');
    height: 219px;
    margin-top: 15px;
    margin-bottom: 25px;
}
#bloc_page
{
    width: 900px;
    margin: auto;

}
#banniere_description
{
    position: absolute;
    bottom: 0;
    color:white;
    height: 30px;
    border-radius: 0px 0px 5px 5px;
    background-color: rgba(24,24,24,0.8);
    font-size: 0.7em;
    width: 900px;
}
.bouton_rouge
{
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url('images/fond_degraderouge.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}
nav ul
{
    list-style: none;
    font-size: 1.5em;
    display:flex;
}
ul li
{
    margin-right: 10px;
}
header
{
    display:flex;
    background: url('images/separateur.png') repeat-x bottom;
    justify-content: space-between;
    align-items: flex-end;
}
section{
    display:flex;
}
section h2
{
    font-family: roboto, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
aside
{
    text-align: justify;
    box-shadow: 0px 2px 5px black;
    background-color: grey;
    color: white;
    font-size: 0.9em;
    border-radius: 5px;
    padding: 10px;
    width:250px;
}
article
{
    text-align: justify;
    margin-right: 20px;
    font-size: 0.8em;
}
section article
{
    width: 650px;
}
aside img
{
    margin-right: 5px;
}
#photozozor
{
    text-align: center;
}
#photozozor img
{
    border:1px solid black;
}
footer
{
    display: flex;
}
footer div
{
    margin-right: 10px;
}
@media all and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;

    }
    nav
    {
        width: auto;
        text-align: left;
    } 
    nav ul
    {
            flex-direction: column;
    }
    
        nav li
        {
            padding-left: 4px;
        }
        
        nav a
        {
            font-size: 1.1em;
        }
        
        nav a:hover
        {
            border-bottom: 0;
        }
    #banniere
    {
        display:none;
    }
    section
    {
        flex-direction: column;
    }

    article, aside
    {
        width: auto;
        margin-bottom: 15px;
    }
    
    #fleche_bulle
    {
        display: none;
    }
    
    #photo_zozor img
    {
        width: 110px;
        float: right;
        margin-left: 15px;
    }
    
    aside p:last-child
    {
        text-align: center;
    }
}